.nav{
  position: fixed;
  background-color: #495464;
  height: 3vw;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  z-index: 9999;

}
.link.active{
font-weight: bolder;
font-size: 25px;
}


.title {
  justify-self: left;
  width: 50%;
  display: flex;
  padding-top: 20px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.786); /* Para navegadores baseados em WebKit */
  color: black;
   }
   .link{
    justify-content: right;
      margin-left: 20px;
      text-decoration: none;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      transition: opacity 0.3s, transform 0.3s;
      transform-origin: center;


  }

  @media only screen and (max-width: 600px) {
    h2 {
       font-size: 4vw; /* O tamanho do texto será 4% da largura da viewport */
     }
     .link, .title {

      font-size: 4vw;
      line-height: 1.1;
     }
     .nav{
      height: 2vw;
      display: flex;
      flex-direction: row;
      padding: 7vw;

    }


   }
