.share{
  position: fixed;
  left: 20px; /* Ajuste a posição horizontal conforme necessário */
  top: 50%; /* Ajuste a posição vertical conforme necessário */
  transform: translateY(70%);
  z-index: 9999;
}

.link{
  display: flex;
  flex-direction: row;
}
.icon{
  width: 3vw;
  margin-right: 2px;
}

@media only screen and (max-width: 760px) {
  .share{
    width: 20px;
    padding: 20px;
  }
  .share-button{
    width: 20vw;
    height: 20vw;
    transform: translateY(180%);
    z-index: 9999;
  }
  .icon{
    width: 9vw;
    padding-left: 2px;
  }

 }
