.container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  padding: 50px 0 20px 0;
}
.steeper{
  background: rgba(0, 00, 00, 0);
  width: 50%;
}
.introduce{
  margin-top: 70px;
  padding-bottom: 8PX;
}
.hello{
  font-size: 40px;
  font-weight: 800;
  display: flex;
  flex-direction: row;
}
.stack{
  font-size: 80px;
  font-weight: 800;
  line-height: 0.9;
}

.skills{
  display: flex;
  flex-direction: row;
  color: white;
}
.skillsContainers{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}
.skillsC{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 2;
}
.svg{
  width: 40px;
  margin: 0 4px 0 0px;
}

.background-image{
  background-image: url(./icons8-hand-48.png);
  background-repeat: no-repeat;

    width: 7vw;
    height: 7vw;
}
.share{
  margin-left: 20px;
}

 @media (max-width: 767px) {
  h2,h1 {
      font-size: 50vw; /* O tamanho do texto será 4% da largura da viewport */
      line-height: 1.2;
   }
   .container{
    padding: 5vw 0 5vw 0;

   }
   .background-image{
    width: 12vw;
    height: 11vw;
   }
  .skills{
    font-size: 4vw;
  }
  .svg{
    width: 8vw;
  }
  .hello{
    margin-left: 7vw;
    font-size: 7vw;
  }
  .stack{
    margin-left: 12vw;

    font-size: 10vw;
  }
  .steeper{
    background: rgba(0, 00, 00, 0);
    width: 100%;
  }

}
