.container{
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,0,0,0.9710259103641457) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  color: white;
  flex-direction: column;
  padding: 50px 0 20px 0;
}
.introduce{
  padding-bottom: 20PX;
}
.hello{
  font-size: 40px;
  font-weight: 800;
  display: flex;
  flex-direction: row;
}
.stack{
  font-size: 80px;
  font-weight: 800;
  line-height: 1.1;
}

.skills{
  display: flex;
  flex-direction: row;
  color: rgb(57, 207, 207);
}
.skillsContainers{
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 2;
  margin-bottom: 15px;
}
.svg{
  width: 40px;
  margin: 0 4px 0 0px;
}

.background-image{
  background-image: url(./icons8-hand-48.png);
  background-repeat: no-repeat;

    width: 10%;
    height: 7vh;
}




 @media (max-width: 767px) {
  h2,h1 {
      font-size: 50vw; /* O tamanho do texto será 4% da largura da viewport */
      line-height: 1.2;
   }
   .background-image{
    width: 12vw;
    height: 11vw;
   }
  .skills{
    font-size: 4vw;
  }
  .svg{
    width: 8vw;
  }
  .hello{
    margin-left: 7vw;
    font-size: 7vw;
  }
  .stack{
    margin-left: 11vw;

    font-size: 10vw;
  }

}
