.container{
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;



}
.image {
  align-items: center;
  margin: 0 15px 10px 2px;
  width: 60px;
}

h1 { color: white; font-family: 'Raleway',sans-serif; font-size: 15px; font-weight: 800; line-height: 72px;
   margin: 10px 0 24px 0; text-align: center; text-transform: uppercase; line-height: 1.5;}

   @media only screen and (max-width: 600px) {
   h1 {
      font-size: 4vw; /* O tamanho do texto será 4% da largura da viewport */
      line-height: 1.2;
    }
    .image{
      width: 15vw;
    }
  }
