
<div class="container">
  <div class="project">
    <mat-card class="project-section">
      <app-videos [videoUrl]="'portolioApp\src\assets\Listagem - Projeto - Opera 2023-05-31 20-31-24.mp4'" [description]="'CRUD MVC ASPNet'"></app-videos>


    </mat-card>
  </div>
  <div class="project">
    <mat-card class="project-section">
      <app-videos [videoUrl]="'portolioApp\src\assets\StarWarss - Opera 2023-05-27 19-22-30.mp4'" [description]="'StarWars Api'"></app-videos>
    </mat-card>
  </div>
</div>
