/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Arial, Helvetica;
  background: rgb(103,128,207);
  background: radial-gradient(circle, rgba(103,128,207,0.48923319327731096) 0%, rgba(148,187,233,1) 100%);}

a{
    text-decoration: none;
    color: black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Arial, Helvetica }

@media only screen and (max-width: 600px) {
  body {
    font-size: 4vw; /* O tamanho do texto será 4% da largura da viewport */
  }
}
