/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Arial, Helvetica;
background-color: #F4F4F2;}

a{
    text-decoration: none;
    color: black;
}

html, body { height: 100%; }
body { margin: 0; font-family: Arial, Helvetica }

@media only screen and (max-width: 600px) {
  p, h1, h2, h3 {
    font-size: 4vw; /* O tamanho do texto será 4% da largura da viewport */
  }
}
